# ============= CORS ORIGIN URL ============= 
CORS_ORIGINS=http://localhost:1234,http://192.192.192.192:1234
# ============= AI API KEYS ============= 
GIGACHAT_API_KEY=XU12nd@
GIGACHAT_CA_BUNDLE=./sberbank.pem

DEEPSEEK_API_KEY=K24ns8
DEEPSEEK_API_URL="https://api.deepseek.com/v1/chat/completions"

YANDEX_API_KEY=Avsd3123
YANDEX_FOLDER_ID=b24s4g
